<div class="first-slide-wrapper">
  <section class="splide" id="first-slide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {{#each productsInPromotion}}
          <li class="splide__slide">
            <a href="/landing/{{id}}" class="image-container">
              <div class="principal" style="font-weight: bold; color: #000">
                {{name}} <br />
                <small style="font-weight: bold; font-size: 20px">${{price}}</small>
              </div>
              <small class="promo">¡En promoción!</small>
              <img src="{{img1_url}}" alt="{{name}}">
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
</div>
<div class="section-wrapper">
  {{#each collections}}
    <h2>Nueva colección {{name}}</h2>
    <section class="splide section-splide" id="slide-{{id}}" aria-label="Splide Collection Slide">
      <div class="splide__track">
        <ul class="splide__list">
          {{#each products}}
            <li class="splide__slide">
              <a href="/landing/{{id}}" class="image-container">
                <img src="{{img_url1}}" alt="{{name}}">
                <img class="image-appear" src="{{img_url2}}" alt="{{name}}">
              </a>
              <p>${{price}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
  {{/each}}
</div>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    const opt = {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 3,
      perMove: 1,
      autoplay: true,
      pagination: false,
      gap: 20,
      breakpoints: {
        975: {
          perPage: 2,
        },
      }
    }
    const slides = document.querySelectorAll('.splide');

    for (let i = 0; i < slides.length; i++) {
      if (slides[i].id === 'first-slide') {
        continue;
      }
      slides[i].style.marginBottom = '150px';
      const splide = new Splide( '#'+slides[i].id, opt);
      splide.mount();
    }
    let splide1 = new Splide( '#first-slide', {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 2,
      autoplay: true,
      pagination: false,
      gap: 20,
      breakpoints: {
        650: {
          perPage: 1,
        },
      }
    });
    splide1.mount();
  });
</script>