<div class="first-slide-wrapper mt-3">
  <section class="splide" id="first-slide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {{#each productsInPromotion}}
          <li class="splide__slide">
            <a href="/landing/{{id}}" class="image-container">
              <div class="principal" style="font-weight: bold; color: #000">
                {{name}} <br />
                <small style="color: #ab9675;">¡En promoción!</small>
              </div>
              <img src="{{img1_url}}" alt="{{name}}">
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
</div>
{{#each collections}}
  <h2>Nueva colección {{name}}</h2>
  <section class="splide" id="slide-{{id}}" aria-label="Splide Collection Slide">
    <div class="splide__track">
      <ul class="splide__list">
        {{#each products}}
          <li class="splide__slide">
            <a href="/landing/{{id}}" class="image-container">
              <img src="{{img_url1}}" alt="{{name}}">
              <img class="image-appear" src="{{img_url2}}" alt="{{name}}">
            </a>
            <p>${{price}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/each}}
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    const opt = {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 3,
      perMove: 1,
      autoplay: true,
      pagination: false,
      gap: 20,
      breakpoints: {
        975: {
          perPage: 2,
        },
      }
    }
    let splide = new Splide( '#first-slide', {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 2,
      autoplay: true,
      pagination: false,
      gap: 20,
      breakpoints: {
        975: {
          perPage: 2,
        },
        605: {
          perPage: 1,
        },
      }
    });
    const slides = document.querySelectorAll('.splide');
    slides.forEach(slide => {
      const id = slide.id.split('-')[1];
      const splide = new Splide( '#'+slide.id, opt);
      splide.mount();
    })
  } );
</script>